@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.containerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: auto;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
}


.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.modal__close-icon {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.modal__close-wrapper {
  all: unset;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.containerModalImagen {

  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  z-index: 3;

}




.modal__row {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  text-align: left;
}

.modalDescription {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 400px;
  height: auto;
  background-color: #ffffff;

  font-size: 20px;
  z-index: 3;

}

.modalTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  padding: 0px;
}

.modal__price {
  font-size: 3rem;
  font-weight: bold;
  color: #ff0000;
  display: flex;
}

.quantityTitle {

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.modal__address {
  font-size: 1.5rem;
  color: #737373;
}

.modal__description {
  color: #737373;
  margin: 0px;
  padding: 0px;
  font-size: 1.25rem;
  overflow-y: scroll;
  height: 150px;
  /*barra de scroll automatica */



}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modalCount {
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 20px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;

}

/* alinear al centro*/
.buttonFinish {
  margin: auto;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;

  cursor: pointer;

}

.titleStock {
  font-size: 1.5rem;
  color: #000;
  margin: 10px;
}

.stock {
  font-size: 1.2rem;
  color: #383838;
  margin: 7px;
}