@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');



.containerModal {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.modal__close-icon {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.modal__close-wrapper {
  all: unset;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}


.modalTitle {
  font-size: 30px;
  font-weight: bold;
}

.modal__price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000;
  display: flex;
}

.quantityTitle {

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}



.modal__description {
  color: #737373;
  padding: 0px;
  font-size: 1.25rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*/::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modalCount {
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 20px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;

}

.buttonFinish {
  margin: auto;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.titleStock {
  font-size: 1.5rem;
  color: #000;
  margin: 10px;
}

.stock {
  font-size: 1.5rem;
  color: #4b609b;
  margin: 7px;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "containerTitle containerTitle containerTitle containerTitle containerTitle containerTitle containerTitle"
    "containerImage containerImage containerImage containerDescription containerDescription containerDescription containerDescription"
    "containerImage containerImage containerImage containerDescription containerDescription containerDescription containerDescription"
    "containerImage containerImage containerImage containerDescription containerDescription containerDescription containerDescription"
    "containerImage containerImage containerImage containerDescription containerDescription containerDescription containerDescription"
    "containerImage containerImage containerImage containerDescription containerDescription containerDescription containerDescription"
    "modalInfo modalInfo modalInfo modalInfo modalInfo modalInfo modalInfo"
    "modalInfo modalInfo modalInfo modalInfo modalInfo modalInfo modalInfo";
  height: 75%;
  width: 70%;
  background: rgb(216, 220, 224);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.containerTitle {
  grid-area: containerTitle;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.containerImage {
  grid-area: containerImage;
  border-radius: 10px;
  background-color: #fff;
  border: 10px solid #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-size: contain;
}

.containerDescription {
  grid-area: containerDescription;
  color: #737373;
  padding: 0px;
  font-size: 1.25rem;
  background-color: #b2c7e0e7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100%;
}

.modalInfo {
  grid-area: modalInfo;
}

.buttonCounter.buttonCounterLeft {
  background: red;
  margin-left: 10px;
}