/*
Estilos del componente slideBar
*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 1;
    bottom: 0;
    box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

inner-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

button.Cart {
    margin-left: 25px;
}

button.toggle {
    background-color: #ffffff;
    z-index: 2;
    position: fixed;
    outline: 0;
    border: solid 1px;
    top: 18px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

nav .inner-nav ul {
    padding: 0;
    position: relative;
    top: 100px;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav .inner-nav li {
    list-style: none;

    line-height: 3;
    padding: 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav .inner-nav li a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
}

nav .inner-nav li:hover {
    background-image: radial-gradient(circle farthest-corner at 10% 20%,
            rgba(173, 208, 245, 1) 0%,
            rgba(16, 147, 254, 1) 90%);
}

.QuantityContainer {
    position: absolute;
    left: 112px;
    top: -5px;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}