.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 31px;
  grid-row-gap: 29px;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 1px auto;
  width: 80%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}