.containerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: auto;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
}


.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.modal__close-icon {
  width: 40px;
  height: 40px;
  z-index: 1000;
}

.modal__close-wrapper {
  all: unset;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}

.containerModalImagen {

  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  z-index: 3;

}




.modal__row {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  text-align: left;
}

.modalDescription {
  position: absolute;
  top: 150px;
  left: 600px;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  overflow-y: scroll hidden;
  font-size: 20px;
  z-index: 3;

}

.modalTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  padding: 0px;
}

.modal__price {
  font-size: 3rem;
  font-weight: bold;
  color: #ff0000;
}

.modal__address {
  font-size: 1.5rem;
  color: #737373;
}

.modal__description {
  color: #737373;
  margin: 0px;
  padding: 0px;
  font-size: 1.25rem;
}