/* usar las images de product */

.CardContainer {
  border: 10px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  border: 10px solid #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-size: contain;

}

.titleContainer {
  text-align: center;
  color: rgb(37, 43, 54);
  margin-bottom: 5em;
  height: 100px;
  padding-top: 15px;
}


.priceContainer {
  display: flex;
  position: relative;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.Price {
  position: static;
  font-weight: bold;
  color: #6474b2;

}

.BottomContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.CardCategory a {
  text-decoration: none;
  color: #000;
  font-weight: 500;

}

/*hover de category*/
.CardCategory a:hover {
  color: #6474b2;
}


.OutOfStock {
  position: relative;

  top: -100px;
  right: -70px;
  background-color: #ff0000;
  color: #fff;
  padding: 0.5em;
  border-radius: 80%;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 100px;
  height: 30px;
  transform: rotate(30deg);

}